---
import Layout from "@/layouts/Layout.astro";
import Channels from "../sections/youtube/Channels.astro";
---

<Layout title="Titulo" description="Descripcion">
    <h1>Página en construcción</h1>
    <Channels />
</Layout>