---
import Section from "@/components/Section.astro";
import Graduate from "@/components/icons/Graduate.astro";
import EducationItem from "./EducationItem.astro";
import { geti18n } from "@/i18n";
import { CAREER } from '@/data/career.data'

const { currentLocale } = Astro

const i18n = geti18n(currentLocale)
const educationContent = CAREER[currentLocale]
---

<Section id="career" title={i18n.menu.career}>
    
    <Graduate class="size-6 md:size-8" slot="icon"/>
    <ul class="border-l border-current">
        {
            educationContent.map(education=>(
                <EducationItem education={education} />
            ))
        }
    </ul>

</Section>