---
import ThemeSelector from '@/components/ui/ThemeSelector.jsx'
import LanguageSelector from './ui/LanguageSelector.astro'
import { geti18n } from '@/i18n/'

const {currentLocale} = Astro
const i18n = geti18n(currentLocale)

const menuKeys = Object.keys(i18n.menu)
---

<header class="w-full lg:w-[1000px] mx-auto rounded-b-xl  backdrop-blur-sm shadow">
    <div class="flex justify-center gap-5">
        <ThemeSelector client:only />
        <LanguageSelector />
    </div>

    <nav>
        <ul class="flex justify-center gap-3">
            {
                menuKeys.map(key=>(
                    <li>
                        <a 
                            class="my-2 py-2 px-4 uppercase block rounded hover:bg-slate-300 dark:hover:bg-slate-700"
                            href={'#'+key}
                        >{i18n.menu[key]}</a>
                    </li>
                ))
            }
        </ul>
    </nav>
</header>