---
import DarkmodeButton from '@/components/ui/DarkmodeButton.astro'
---

<header>
    <div>
        <DarkmodeButton />
    </div>

    <nav>
        <ul>
            <li>
                <a href="">Link</a>
            </li>
            <li>
                <a href="">Link</a>
            </li>
            <li>
                <a href="">Link</a>
            </li>
        </ul>
    </nav>
</header>