---
import ThemeSelector from '@/components/ui/ThemeSelector.jsx'
import { geti18n } from '@/i18n/'

const {currentLocale} = Astro
const i18n = geti18n(currentLocale)
---

<header class="w-full bg-slate-900">
    <div>
        <ThemeSelector client:only />
    </div>

    <nav>
        <ul>
            <li>
                <a href="">Link</a>
            </li>
            <li>
                <a href="">Link</a>
            </li>
            <li>
                <a href="">Link</a>
            </li>
        </ul>
    </nav>
</header>