---
import ThemeSelector from '@/components/ui/ThemeSelector.jsx'
---

<header>
    <div>
        <ThemeSelector client:only />
    </div>

    <nav>
        <ul>
            <li>
                <a href="">Link</a>
            </li>
            <li>
                <a href="">Link</a>
            </li>
            <li>
                <a href="">Link</a>
            </li>
        </ul>
    </nav>
</header>