---
const { class: className, id, title } = Astro.props
---
<section 
    class=`px-4 w-full sm:w-[600px] lg:w-[900px] mx-auto my-10 lg:my-20 ${className}`
    id={id}
    data-section={id}
>
    {
        title && (
        <h2 class="flex gap-3 text-2xl sm:text-4xl items-center font-medium mb-10 sm:mb-20">
            <slot name="icon" />
            {title}
        </h2>
        )
    }

    <slot />
</section>