---
const { title } = Astro.props
---
<section class="px-2 w-full sm:w-[600px] lg:w-[900px] mx-auto">
    { title && <h2>{title}</h2>}
    <!-- Usar divider para dividir? o margin? -->
    <slot />
</section>