---
import Section from "@/components/Section.astro";
import Envelope from '@/components/icons/Envelope.astro'
import { geti18n } from "@/i18n";

const { currentLocale } = Astro

const i18n = geti18n(currentLocale)
---

<Section id="contact">
    <h2 class="flex gap-3 text-4xl items-center font-medium">
        <Envelope class="size-6 md:size-8"/>
        {i18n.menu.contact}
    </h2>

</Section>