---
import Section from '@/components/Section.astro'
import { geti18n } from '@/i18n/'
import { HERO } from '@/data/hero.data'


const {currentLocale} = Astro
const i18n = geti18n(currentLocale)
const HERO_CONTENT = HERO[currentLocale]
---

<Section>
    <div v-if="profile" class="flex bg-red-200/20">
        <img 
            class="rounded-full bg-[#4169e14d] w-40 border-4 border-white dark:border-[#101218]"
            src="/me.png" 
            alt="Juan Basgall photo"
        >
        <div class="flex flex-col justify-center">
            <h1 class="hero__h1">{ HERO_CONTENT.name }</h1>
            <h2 class="hero__h2">{ HERO_CONTENT.role }</h2>
            <span class="hero__status">
                { HERO_CONTENT.status }
            </span>
            <div class="social-container">
                <a href="" class="social__button ">
                    <font-awesome-icon :icon="['fab', 'linkedin']" class="social__icon--linkedin"/>
                    LinkedIn
                </a>
                <a href="" class="social__button">
                    <font-awesome-icon :icon="['fab', 'square-github']" class="social__icon--github" />
                    Github
                </a>
                <a 
                    class="social__button"
                    href="https://firebasestorage.googleapis.com/v0/b/portfolio-c7261.appspot.com/o/files%2FCV_Juan_Basgall_Programador.pdf?alt=media&token=4e931bee-ba52-472e-a342-1ec13060491d"
                    target="_blank"
                >
                    <font-awesome-icon :icon="['fas', 'file-pdf']" class="social__icon--pdf" />
                    { i18n.ui.resume }
                </a>

            </div>
        </div>
    </div>
</Section>