---
import Section from "@/components/Section.astro";
import Paragraph from "@/components/ui/Paragraph.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import ReactIcon from "@/components/icons/tags/ReactIcon.astro";
import BootstrapIcon from '@/components/icons/tags/Bootstrap.astro'
import PHPIcon from '@/components/icons/tags/PHP.astro'
import SassIcon from '@/components/icons/tags/Sass.astro'
import FireIcon from '@/components/icons/tags/Fire.astro'
import { EXPERIENCES } from "@/data/experience.data";
import { geti18n } from "@/i18n";
import ExperiencItem from "./ExperiencItem.astro";

const { currentLocale } = Astro

const i18n = geti18n(currentLocale)
const experienceContent = EXPERIENCES[currentLocale]
---

<Section id="experience" title={i18n.menu.experience}>
    <Briefcase class="size-6 md:size-8" slot="icon"/>
        
    <article>
        {experienceContent.map(experience => (<ExperiencItem experience={experience} />))}
    </article>

</Section>