---
import Paragraph from "@/components/ui/Paragraph.astro"
const { experience } = Astro.props
---
<div class="sm:flex mt-10 sm:mt-[80px] gap-10">
    <div class="w-[70px] h-[70px]">
        <img src={experience.logo} alt="logo" class="min-w-[70px] w-[70px] h-[70px] rounded-full">
    </div>
    <div class="texts">
        <h3 class="text-2xl font-medium">{ experience.title }</h3>
        <p class="text-gray-400 mb-4">
            { experience.date }
        </p>
        <Paragraph>
            { experience.description }
        </Paragraph>
        <Paragraph>
            { experience.invitation && (
                <span>
                    {experience.invitation}
                </span>
                <a 
                    class="text-blue-600 dark:text-blue-500"
                    href="https://wmnt-portfolio.netlify.app/" 
                    target="_blank"> wmnt Portfolio.</a>
            )}
        </Paragraph>
        <div class="flex gap-3">
            {experience.technologies.map(Tech => (
                <Tech class="size-8"/>
            ))}
        </div>
    </div>
</div>