---
import Section from "@/components/Section.astro";
import { geti18n } from "@/i18n";
import { PROJECTS } from "@/data/projects.data";
import CodeIcon from "@/components/icons/Code.astro";
import ProjectCard from "./ProjectCard.astro";

const { currentLocale } = Astro
const i18n = geti18n(currentLocale)
const projectsContent = PROJECTS[currentLocale]
---

<Section id="projects" title={i18n.menu.projects}>
    <CodeIcon class="size-6 md:size-8" slot="icon"/>
    <div>
        {
            projectsContent.map(project=>(
                <ProjectCard  project={project} />
            ))
        }
    </div>

</Section>