---
import Section from "@/components/Section.astro";
import { geti18n } from "@/i18n";
import { PROJECTS } from "@/data/projects.data";
import CodeIcon from "@/components/icons/Code.astro";
import ProjectCard from "./ProjectCard.astro";

const { currentLocale } = Astro
const i18n = geti18n(currentLocale)
const projectsContent = PROJECTS[currentLocale]
---

<Section id="projects">
    <h2 class="flex text-4xl gap-3 font-medium items-center">
        <CodeIcon class="size-6 md:size-8"/>
        {i18n.menu.projects}
    </h2>
    <div>
        {
            projectsContent.map(project=>(
                <ProjectCard  project={project} />
            ))
        }
    </div>

</Section>